<html>
  <head>
    <title>Sample Index Page</title>
  </head>
  <body>
    <h1>This is a sample index page</h1>
    <br>
    <h3>by</h3>
    <br>
    <h2>Raj Durvasula</h2>
    <br>
    <font color="blue">Created at: </font>{{ ansible_date_time.date }} {{ ansible_date_time.time }}
  </body>
</html>
